{{>header}}
<div id='page-container'>
    <div class='banner'>
        <h1 class='banner-text-huge'>Changelogs</h1>
        <div class='white'></div>
        <div class='yellow'></div>
        <div class='pink'></div>
        <div class='blue'></div>
        <div class='grey'></div>
    </div>
    <div id='overview-text'>
        <p>This is a full archive of all changelogs for every version of Rebirth: Redux released, even those I wrote for versions that were unavailable to anyone outside of TheFlamingRed's Discord server.</p>
    </div>
    <div class='small-banner'>
        <h3 class='banner-text-small'>Rebirth: Redux v1.51</h3>
    </div>
    <div class='changelog-container'>
        <textarea class='changelog' readonly>Rebirth Redux 1.51 Changelog:

[Endurance Design Data]
- Increased wrong weather penalties for all tyre compounds
- Increased maximum number of pit crew applicants to 12
- Reduced pit crew applicant auto-reject time to 2 races

[Drivers]
- Reduced maximum time cost for 0 experience to 0.5s
- Reduced the maximum and minimum peak age for regen drivers (again)
- Drivers with more than 60 experience can no longer be hired to drive in ERS

[AI Logic]
- [Singleseaters] Improved tyre selection at race start if the rain was coming at, or just over, the range of the softest compound
- [Singleseaters] Created new logic for AI driver driving style selection
	- They will now try to claim back some tyre life on a tyre that could reach the end of the race but marginally falls short
	- They will now not overdrive a tyre and fall short of the end of the race
	- They will actively use any spare tyre life available, but leave some left over for other uses
	- They will now actively attack cars ahead if they have the tyre life available
	- They will now actively defend against cars using Attack if they have the tyre life available
	- If no other condition is met, they will use Medium
- [Singleseaters] Created new logic for AI driver engine mode selection when refuelling is active
	- They will now try to save fuel when they are 1.2 laps or fewer short of the end of the race
	- They will now try to burn extra fuel if they are expected to finish higher than their teammate, and they have the same fuel load as their teammate to help alleviate double stacking
	- They will now turn the engine up to defend if the attacker is using Overtake and they have the spare fuel available
	- They will now turn the engine up to attack, using Overtake or High depending on how much extra fuel they have available
	- They will now burn any extra fuel they have compared to the tyre life or laps remaining (whichever is lower) when they are doing none of the above
	- If no other condition is met, they will use Medium (this can make them extend fuel an extra lap if it's a sufficiently long stint on a harder tyre)
- [Endurance] Added new logic for tyre selection
	- The AI will now decide if they wish to make a driver swap before doing anything else
	- If they are changing driver, they will change tyres as well
	- They will then select a tyre based on how long the incoming driver can run for
- [Endurance] Added statement to trigger refuelling when the safety car comes out
- [Endurance] Created new logic for AI driver driving style selection
	- They will push on the tyres if they have just come out of the pits
	- They will push on the tyres for the first few laps of a race, based on team aggression
	- They will push on the tyres to defend if the driver behind is using Attack
	- The leading car will go easy on their tyres if they are a sufficient distance ahead
	- They will push on the tyres to attack a car ahead
	- If no other condition is met, they will use Neutral
- [Endurance] Created new logic for AI driver engine mode selection
	- They will turn the engines up for a specific amount of laps at race start, limited by driver aggression
	- They will try to fuel save if their fuel doesn't quite reach the end of the race
	- The car with the higher expected finish within a team will burn off extra fuel to create a 2 lap fuel delta to their teammate to stagger their pitstops
	- They will turn the engine up if the fuel they have exceeds the laps remaining in the race + 3
	- They will turn the engine up to defend if the fuel they have exceeds the laps remaining in the race + 1
	- They will turn the engine up to attack if the fuel they have exceeds the laps remaining in the race + 1
	- They will turn the engine down if they are close to an extra lap of fuel (if they are at X.84 fuel laps remaining when they cross the line, they will turn the engine down until it's at X.00)
	- If no other condition is met, they will use Medium
- [Endurance] Restored original engine mode fuel burn values
- [Singleseaters & Endurance] Rewrote custom method that calculated how much fuel was required in changeable weather
- [Singleseaters & Endurance] Reworked dry weather logic for the AI deciding when to pit to help prevent needless double-stacking

[Other]
- Maximum overall team marketability is now capped depending on which series a team is competing in
	- 2 stars - ERS, GTC
	- 3 stars - APSC, IEC-B
	- 4 stars - IGTC, IEC-A
	- 5 stars - WMC
- [Endurance] Stamina loss per second should now be normalised for all race lengths
- [Endurance] Car headlights will now turn off while they are sitting in the pits, and turn on again upon leaving
- [Endurance] Headlights will now always be on while the car is moving
- The tyre temperature mechanic has been reworked:
	- Neutral driving style will make the tyre temperature return to 50% over time - this is to imply the driver is simply keeping the tyre well within the working range, regardless of location
		- The speed of this is half of Conserve or Push
		- It is affected by ambient temperature as normal
		- Once tyre temperature gets to 50%, it will remain there as long as Neutral is used
		- This has been done for two main reasons:
			- The AI will benefit from this when the race is very hot, or very cold
			- There is a large reduction in required micromanagement at very hot or very cold races for the player
        </textarea>
    </div>
    <div class='small-banner'>
        <h3 class='banner-text-small'>Rebirth: Redux v1.5</h3>
    </div>
    <div class='changelog-container'>
        <textarea class='changelog' readonly>Rebirth Redux 1.5 Changelog:

[Personality Traits]
- 'Refocused' now only gives +10 Focus and +10 Improvability. It also boosts experience gain by 30%
- 'Renewed Passion' now only gives +10 Potential, +10 Morale and +10 Improvability. It also boosts experience gain by 30%

[Teams]
- Rebirth teams have adjusted colour palettes for their liveries to help make them more visually distinctive on track - 65 have been completed so far, 1 remaining
- Rebirth teams have adjusted UI colour palettes to help make them more visually distinctive generally - 65 completed so far, 1 remaining

[Drivers]
- Regen drivers will now only spawn with a maximum base marketability of 33%
- Regen drivers will now only spawn with a maximum base experience of 25
- Large expansion of the basic driver experience system from Rebirth. It is now a representation of both their experience as a driver, and their experience in that season's car
    - Experience is a value from 0 to 100, to one decimal place
    - 100 experience drivers will have a 0.5s boost to pace (this will be expanded further in future versions)
	- Drivers will gain a base amount of experience when they participate in a session, including reserves who just participate in practice
		- Reserves who only participate in practice are capped at 50 experience - they will only be able to reach 100 by actually racing
	- This gain is then modified by the following:-
		- Age
		- Finishing position
		- Specific HQ buildings
			- Test Track (+2%, +5%, +10%)
			- Telemetry Centre (+2%, +5%, +10%)
			- Simulator (+5%, +10%, +20%)
		- Personality Traits
		- Current experience
	- The average season form display on the driver page has been replaced with their current experience level, and you will not be able to see an unscouted driver's experience level
	- Experience will drop at the start of each season, for every employed driver over 80 experience, by 5 + 0.5 x (20 - Adaptability) to represent the driver needing to get used to the new car
		- Lower Adaptability will give a larger penalty, and thus may take longer for the driver to get up to speed each season
		- Drivers are capped to a minimum of 80 experience under this system
		
[Single Seater Design Data]
- Reduced critical part time cost to a range of 0.9 seconds per lap to reduce the power of min-max'ing
- Doubled scalar values to increase base field spread
- Reduced bonus and penalty laps on tyres from driver Smoothness
- Increased number of potential pit crew applicants to 12, reduced auto-reject time to 2 races

[AI Logic]
- Rewrote AI pit logic when the Safety Car comes out
	- Currently for Single Seaters only
	- I have broken down the rules for pitting by fuel tank size if refuelling is active
	- If no fuel levels trigger a pit stop, they will then check their tyres to see if they are sufficiently worn, or if a new tread is required in the next few laps
	- This is a work in progress, and will likely require some adjustments and additions to make the system work efficiently
	- The AI will check 4 laps ahead of the current lap when selecting a tyre
- Rewrote some sections of AI logic that handles when they want to pit
	- The AI will take a better look at changeable weather and should now be better at reacting to sudden weather changes (e.g. slicks to wets in 3 or 4 laps)
	- The AI will be more likely to use all of their fuel each stint when refuelling is active and take note of where their teammate is and how much fuel they have to prevent pointless double stacking or running out of fuel (this still happens sometimes, I am playtesting extensively to try and catch more cases)
	- This is part of the larger plan to make the AI more potent on race day, as they were very weak here previously
- Rewrote AI logic for deciding how much fuel to put in at the pitstops
- Fixed the AI always using the softest compound when it was going to rain midrace, even if that tyre would not reach the weather change.

[Other]
- Rewrote and refactored day/night cycle code so it works in every session and every series, and uses less performance
- Changed text around the form display to now relate to experience
- Added passive AI part development boost - the effectiveness of this boost will be based on the AI Driver Difficulty slider position. 20 will give the AI a 100% boost on all developed parts. This is purely to offer players a challenge if they find themselves getting too far ahead or progressing too quickly
    - Recommended to set at 10, and adjust from there
- Reduced strength of start quality, great starts are less powerful, poor starts are less punishing
- Reduced chances of a car experiencing a sudden failure at each deg step
- Increase the maximum possible 'deg steps' for a race session, these now range from 8 to 14, inclusive
        </textarea>
    </div>
    <div class='small-banner'>
        <h3 class='banner-text-small'>Rebirth: Redux v1.41</h3>
    </div>
    <div class='changelog-container'>
        <textarea class='changelog' readonly>Rebirth Redux 1.41 Changelog:
Adjustments:
- Retired cars now turn their lights off
- Increased stamina drain and restoration for 24 and 12 hour races
- Removed the backstory that Rebirth added as it had the ability to crash the game in the first interview

New Features/Additions:
- None

Bug Fixes:
- Fixed typo in 'Mansfoort'
- Half fix for traits using 'NotNumberOne' special case activating on unemployed drivers. 'Prefers Number Two' uses this case and thus applies on reserve drivers, this will be resolved in the big special case update in the future
- Fixed grammatical error in 'Publicity Opportunity'
- Added rule 69 to the restricted rules section for IECA and IECB. This was able to be voted into one series and would break an endurance career
        </textarea>
    </div>
    <div class='small-banner'>
        <h3 class='banner-text-small'>Rebirth: Redux v1.4</h3>
    </div>
    <div class='changelog-container'>
        <textarea class='changelog' readonly>Rebirth Redux 1.4 Changelog:
Adjustments:
- AI will now check to see if any of the available dry weather compounds will get them to the end of the race at the pit stop, resulting in more intelligent choices when this is the case
    - If no dry weather compound will get them to the end of the race, they will fall back to randomly selecting one, with an increasing bias towards the softest compound based on current race standings
    - This results in an increase of difficulty in dry races as they will be more efficient, especially in 1-stop races as they will not make useless additional stops
- AI will now check to see if any of the available dry weather compounds will get them to the next weather change, resulting in more intelligent choices
    - If no dry weather compound will get them to the change in weather, they will fall back to randomly selecting one, with an increasing bias towards the softest compounmd based on current race standings
    - This results in an increase of difficulty in changeable weather as they will be more efficient as they will not make useless additional stops
    - This is also applied to race starts
- Adjusted pit lane speed rules to 35mph and 50mph for slow and fast, respectively
- Reduced base build times of all parts, across all series and tiers
- Reduced maximum and minimum peak age, and maximum and minimum peak duration, slightly

New Features/Additions:
- None

Bug Fixes:
- None
        </textarea>
    </div>
    <div class='small-banner'>
        <h3 class='banner-text-small'>Rebirth: Redux v1.3</h3>
    </div>
    <div class='changelog-container'>
        <textarea class='changelog' readonly>Rebirth Redux 1.3 Changelog:
Adjustments:
- Endurance now has far higher part repair times
    - Minimum repair times have been doubled
    - Maximum repair times have been quintupled
- GT has increased repair times
    - Minimum repair times have been doubled
    - Maximum repair times have been tripled
- GT now has specific retirement rates that are lower than single seaters, but higher than Endurance - this results in a higher chance that mechanical issues are repairable during the race
- Endurance now has specific retirement rates that are lower than the other series - this results in a higher chance that mechanical issues are repairable during the race
- Added small chance (3 in 100) of a pitstop mistake being a 'huge' mistake and will multiply mistake time by 1.8
- Added small chance (9 in 100) of a pitstop mistake being a 'big' mistake and will multiply mistake time by 1.3
- Endurance has a reduced chance due to the volume of pitstops being likely to trigger either statement too often
- Small rebalance of GT tyres to allow various race strategies (needs testing to check balance)
- Small rebalance of GT scalars to spread car performance over the car more evenly (needs testing to check balance)
- Completed a thorough initial balancing of Endurance, from car performance to tyres to pit stops, everything has been looked at
- Extended part development times for IECA (default x 2.6) and IECB (default x 1.8), which now completes the initial part development time extension for all series
- Rebalanced starting part stats for IECB as they were originally too low and too close
- Restored vanilla Dilemmas (I will be writing some new gameworld-friendly ones)

New Features/Additions:
- Day-Night cycle added for use with endurance races, complete with sky transition
- Rule and code added to force Endurance to have fuel tanks that last roughly one hour
    - Tracks at extremes with regards to lap distance and lap time will be over/under this. Milan and Dubai are the main culprits I have found so far
    - I will be looking into a method to introduce a multiplier/adjuster for these tracks
- 30 Dry Weather Tyres rule added for Endurance to facilitate the longer races
- Experimental conditions added to the AI checks regarding changing tyres to (hopefully) get them to double and triple stint tyres in Endurance																			  

Bug Fixes:
- None
        </textarea>
    </div>
    <div class='small-banner'>
        <h3 class='banner-text-small'>Rebirth: Redux v1.2</h3>
    </div>
    <div class='changelog-container'>
        <textarea class='changelog' readonly>Rebirth Redux Preview Build 2 Changelog:
Adjustments:
- 'Slipstream Expert' now uses the new 'CarAhead' special case
- 'Bad at Slipstream' now uses the new 'CarAhead' special case
- 'Overtake Specialist' now uses the new 'CarAhead' special case
- Increased Critical Part time penalties in Single Seaters
- Rebalanced all dry weather compounds for Single Seaters
- AI will now use fast pit stops if their current position is lower than their expected position
- Reduced 'Pay Driver' marketability debuff
- Halved engine wear rates
- Reduced engine modifier for instant failure calculations
- Set point at which the AI will pit for engine repairs to 5% reliability or less

New Features/Additions:
- Added new 'Special Cases' for personality traits
    - CarAhead
    - CarBehind
    - LastLap
    - LastInRace
- Added appropriate helper text for the new 'Special Cases'
- Added new traits that use these new 'Special Cases'
    - Tough Defender
    - Pushover
    - Tailgater
    - Frustrated Follower
    - Tunnel Vision
    - Quitter
    - Never Surrenders
    - Early Leaver
    - Chequered Chaser
- Added new traits that make use of vanilla 'Special Cases'
    - Lone Wolf
    - Prefers Number Two
    - Eager to Learn
- Merged Rebirth 1.54 alpha code so the Rebirth teams now have loading screens
- Added new penalty level - 5 second penalty
- Rewrote code that awards penalties for more penalty variety
    - All possible reasons for in-race penalties in non-endurance series (jump starts, corner cuts, and collisions) are now able to have either drive throughs or time penalties awarded
    - There is a greater chance for time penalties over drive throughs
- AI teams will now only get new liveries with layouts that are for their car model
	
Bug Fixes:
- 'Track Practice' dilemma no longer instantly crashes the game
- Yet another possible fix for 'Race Winner' and 'Podium' personality traits not spawning (I don't know how I broke these, honest!)
- Added punctuation for 'Rude' personality trait
- 'Pushover', 'Tailgater', and 'Frustrated Follower' personality traits now correctly set as opposites of 'Duel Master'
- 'Tough Defender' personality trait now correctly set as opposite of 'Hates Duelling'
- Fixed spelling error for the team 'Lagro Banco'
- Broke and fixed 'Pay Driver', 'Dodgy Neck' and many other traits that use Special Cases
- 'Offended' can now only spawn on drivers that are employed
- Fixed typo in news report about driver 'looking for a way out' of a team
- Corrected news report relating to the 'Resentful' personality trait
        </textarea>
    </div>
    <div class='small-banner'>
        <h3 class='banner-text-small'>Rebirth: Redux v1.1</h3>
    </div>
    <div class='changelog-container'>
        <textarea class='changelog' readonly>Preview Build Version 1.1:
Adjustments:
- Reduced thresholds for instant failures
- Increased probability of 'Race Winner' and 'Podium' traits being applied
- 'Suspicious About Media Reports' now only rolls on drivers that have jobs

Bug Fixes:
- Fixed gamebreaking bug when rebrands were triggered
- 'Struggles Under Pressure' now applies correctly
- 'Whiplash' now correctly applies a morale penalty, rather than a marketability penalty
- '{Tier} Champion' traits now set to remove the relevant 'Ex-{Tier} Champion' traits
- 'Happy' now set to remove, and as the opposite of, 'Feeling Blue'
- 'Failed Musician' now set as a follow-on trait from 'Releasing Album'
- 'Qualifying Specialist' now has special text
- Corrected a couple of typos in emails
- Part Component ID119 now adds the correct amount of days to production time
- Experimental fix for the flipped suspension feedback radio messages
        </textarea>
    </div>
    <div class='small-banner'>
        <h3 class='banner-text-small'>Rebirth: Redux v1.0</h3>
    </div>
    <div class='changelog-container'>
        <textarea class='changelog' readonly>Rebirth Redux Preview Build Brief Changelog.

NOTE: This is a preview build of an in-progress mod, therefore there will be issues, bugs and balancing issues. Please make sure you let Brian (the author) know of any issues you find, or any feedback you have.

Outline of changes:

===============
  -:Assets:-
===============

==========================
    Personality Traits
==========================
- Complete rewrite of Personality Traits.txt - this has been rebuilt from the vanilla txt, did a totally new balance pass for stat changes and trait durations. Removed redundant traits where appropriate.

- There are no new traits currently, this is merely a re-write of an otherwise messy file and those who mod it will likely see the most benefit

================
    Dilemmas
================
- Removed various Dilemmas that relied on traits that I have now cut (these were added with those traits, so nothing obvious has gone).

=======================
    Part Components
=======================
- The Part Component Overhaul has been added as a default now. As of this build, there are a total of 283 different part components in the pool. I have plans for some more to be added at a later date.

=============
    Parts
=============
- The Parts Base Costs rebalance has been added as a defualt now.

- Lower tiers within a series (ERS, GTC, IEC-B) are cheaper to compete in than their vanilla counterparts, which creates a more competitive environment as teams are able to produce more parts in a season.

- Higher tiers within a series (APS, WMC, IGTC, IEC-A) are more expensive to compete in putting an emphasis on bank balance, race performance and strategy as you progress, where the ability to keep a more healthy balance sheet is important to progression.

- Base part build times have been increased across the board, this is a new feature so please report on balancing.

================
    Sponsors
================
- The Sponsor Rebalance is also implement as a default feature.

- Rebalanced existing sponsor offers so the player is no longer obligated to chase 5-star sponsors at all times.

- There is increased overlap between tiers which allows for the loss of a star rating without causing catastrophic financial losses.

- The most lucrative offers are now worth more on a per race basis.

- Added additional race placement sponsors with 3 - 5 star sponsors having an increased range of placement requirements.

- This is then balanced by having a much larger pool of potential offers, with the largest offers being locked to specific slots to prevent them coming up too often.

==================
    DesignData
==================
- My SSDD and GT rebalances are also included as defaults. GT is to be largely rewritten though as it is legacy from pre-Endurance DLC and is technically redundant.

- SSDD saw a small change to critical parts and time cost per single point of performance, and is therefore still undergoing testing.

=================
    Buildings
=================
- Increased the build time for all HQ buildings, and all upgrades, by 70%.

==============
    Driver
==============
- Experimental fix for all regen drivers peaking and declining very quickly. Assuming this works, regen drivers should now see their peaks in their early 30's at the earliest, and they have a chance to peak for longer before declining.

=================
    Locations
=================
- Reduced the chances for Safety Cars across all locations except Cape Town.

====================
    Rule Changes
====================
- Revised the pit lane speed rules down to 30mph and 65mph.

=====================
    Championships
=====================
- Built custom, relatively restricted, rulesets for singleseaters and GT. You may need to add this to the Phoenix Edition Workshop folder if you are using Phoenix.

- This is considered a controversial component, however it is recommended you try it for this preview build to test balance. The aim is to make each tier more unique and prevent the player just bending every series to the most beneficial ruleset.

================
  -:Assembly:-
================

==================
    Rebranding
==================
- Adapted Red's 1.54 rebranding code for 1.53 - Phoenix edition now has proper rebranding and new liveries every season for every team.

- Reduced rebranding quantity vastly so that teams stick around for longer before being changed.

==================
    Promotions
==================
- Removed double promotions/teams being removed/added to series (hopefully) - this had too much scope for bugs, and there is no 1.54 version for me to adapt just yet, so this feature will have to be cut for now.

======================
    Condition Loss
======================
- Added the Instant Failures system - this is an expansion of Red's Random Failures and replaces the original part degradation system almost entirely. All parts will now have a chance to fail during the race depending on the part's current reliability. The engine uses a hybrid of both systems, where it takes regular part wear like it used to, but is also at risk of instant failure like any other part. The AI are made generally more competitive as a result and thus will give more a challenge.

=============
    Spins
=============
- Essentially disabled in this build - I will check the possiblity of merging 1.54 spins into Redux, but it relies on my ability, which is limited

===============
    Lockups
===============
- Increased the variety of lockup locations with this one easy trick

================
    AI Boost
================
- Reduced the volume of AI breakthroughs at the start of the season

=========================
    Part Reset Spread
=========================
- This is increased to 200, although with part production time increased, this may become less relevant

=====================
    Livery Change
=====================
- Decreased livery change cost to £10,000

==================================
    Regen Driver Marketability
==================================
- Reduced the range of regen driver base marketability to a maximum of 50%

=========================
    Chairman Payments
=========================
- Increased chairman payments for APS and WMC, these are old changes from previous attempts to balance the economy, and may now be redundant.

========================
    Retirment Chance
========================
- With the introduction of the Instant Failures feature, chance to retire rather than have mechanical issues has been increased

=====================
    Moe's AI Work
=====================
- This is integrated into this DLL, as this version is built from his version of Rebirth which I had merely made my own adjustments to in the past.
        </textarea>
    </div>
</div>
{{>footer}}