{{>header}}
<div id='page-container'>
    <div class='banner'>
        <h1 class='banner-text-huge'>Get The Mod! Current Version - 1.51</h1>
        <div class='white'></div>
        <div class='yellow'></div>
        <div class='pink'></div>
        <div class='blue'></div>
        <div class='grey'></div>
    </div>
    <div class='banner'>
        <h2 class='banner-text-large'>Installation</h2>
        <div class='white'></div>
        <div class='yellow'></div>
        <div class='pink'></div>
        <div class='blue'></div>
        <div class='grey'></div>
    </div>
    <div class='general-text-downloads'>
        <p>Step 1: Grab the files from the Dropbox archive</p>
        <div id='link-container'>
            <a class='link-button' target='_blank' href='https://www.dropbox.com/sh/4rfk55v4upi32ti/AAAfHYDO6K0Soz-SZEND5vZFa?dl=0'>Get the assets</a>
            <a class='link-button' target='_blank' href='https://www.dropbox.com/sh/rvyz8irqnugle0k/AABWqNfBYI4kBjFtg49N7GDEa?dl=0'>Get the assemblies</a>
        </div>
        <p>Step 2: Place the resources.assets file in the following directory: ..\steamapps\common\Motorsport Manager\MM_Data</p>
        <p>Step 3: Place the Assembly-CSharp.dll and Assembly-CSharp-firstpass.dll in the following directory: ..\steamapps\common\Motorsport Manager\MM_Data\Managed</p>
        <p>Step 4: Subscribe to the Rebirth: Logo Pack on Steam: <a target='_blank' href='https://steamcommunity.com/sharedfiles/filedetails/?id=1188384463'>Rebirth: Logo Pack</a></p>
        <p>Step 5: Start the game, go to 'Steam Workshop' on the main menu screen, then select 'Assets' on the left, and filter by subscribed mods and activate the Logo Pack. If you do not do this, you will end up with white squares where logos should be.</p>
        <p>Step 6: Start a new save, go to any of the GT or single seaster series - if you have 12 teams to choose from and you don't recognise 2 of them, the mod is installed and working.</p>
    </div>
    <div class='banner'>
        <h2 class='banner-text-large'>Important Notes & Known Issues!</h2>
        <div class='white'></div>
        <div class='yellow'></div>
        <div class='pink'></div>
        <div class='blue'></div>
        <div class='grey'></div>
    </div>
    <div class='general-text-downloads'>
        <p>If you wish to play ERS, APS, or WMC, you <em><strong>MUST</strong></em> go to the options and choose 'Long' for your preferences - I will be copying the relevant items over to the other preferences in due course. If you do not use long preferences, none of the balancing will be present and you will experience a lack of balance amongst other issues!</p>
        <p>GT is not yet rebalanced properly. This will be coming in version 1.6 of the mod, therefore please consider GT non-playable with Redux. Apologies for the delay in getting this done, but I am only one person.</p>
        <p>The race lengths in Endurance are controlled via the race length preferences - short will give you 6 hour races, medium will give 12 hours, and long will give you a 24 hour race. It is up to you if you want to play every race as a specific length. One suggestion is to decide on a couple of marquee races for your season and have just one as a 24h, one as a 12h, and the rest as 6h. In the end, it is up to you.</p>
        <p>I will suggest just avoiding interviews entirely for now - they are slow, buggy and really are of little gameplay value.</p>
        <p>Please report all bugs to me as you find them, along with screenshots where possible (the message that pops up before the game force closes does not count, it offers no help to where the bug is). I have done my best to ensure the game will not force close on you by playing over 4 dozen seasons, but there still may be a couple of things that slipped through. The best place to report bugs is via <a target='_blank' href='https://discord.gg/PkSnphxPtj'>the Discord</a>, in the #rebirth-redux channel.</p>
        <p>To increase AI competitiveness, use the AI difficulty slider in the game options - this affects their part development by giving them bonuses (as much as I hate AI cheating, they really need to on this occasion). 20 is the maximum and after ERS *you will suffer*. If you find your progress too slow, drop the slider down. I recommend setting the slider to 10, then adjusting to your preferences.</p>
    </div>
    <div class='banner'>
        <h2 class='banner-text-large'>Troubleshooting</h2>
        <div class='white'></div>
        <div class='yellow'></div>
        <div class='pink'></div>
        <div class='blue'></div>
        <div class='grey'></div>
    </div>
    <div class='general-text-downloads'>
        <h3 class='header'>My game is crashing on startup/starting a new save!</h3>
        <p>This can be from you trying to use other workshop mods with this mod, or having leftover files from any other large mod you may have already been using (such as FIRE Fantasy). You should disable every other mod you may have active, anything that tries to edit databases will conflict with Redux. If you have disabled all of your Workshop mods and still have issues, reinstall the game to ensure you have vanilla files, then follow the installation steps above. You can, however, use mods that replace models or add new livery layouts.</p>

        <h3 class='header'>I have white squares where logos should be!</h3>
        <p>This will be because you skipped a step, naughty naughty! Make sure you have the Rebirth: Logo Pack installed from the Steam Workshop, and activated, from steps 4 and 5 above.</p>

        <h3 class='header'>I cannot get the Rebirth: Logo Pack because I do not have the game on Steam!</h3>
        <p>Then I can guess you have a pirated version. While I have no personal issues with what you do, I will not support a pirated version of the game. There are two reasons for this - the first is that pirated games can cause unforeseen issues and I do not want to waste time I could spend having a cup of tea on chasing issues around that were caused by your pirated version (it has happened before). The second reason is that the Rebirth: Logo Pack is not mine, and thus I cannot offer a non-Steam version. This will never change, I know there are some regions that either cannot get the game, or it is prohibitively expensive, but this is the way it is. If it is cost related, Humble Bundle sometimes has it for cheap, and it regularly goes for very cheap on Steam.</p>
    </div>
</div>
{{>footer}}