{{>header}}
    <div id='page-container'>
        <div class='banner'>
            <h1 class='banner-text-huge'>Features</h1>
            <div class='white'></div>
            <div class='yellow'></div>
            <div class='pink'></div>
            <div class='blue'></div>
            <div class='grey'></div>
        </div>
        <div id='overview-text'>
            <p>This page contains a full list of all features of this mod, with a brief description for each. As I add more to Redux, this list will expand. (This page is in dire need of a rewrite and restructure, actually :|)</p>
        </div>
        <div class='banner'>
            <h2 class='banner-text-large'>Mod Base</h2>
            <div class='white'></div>
            <div class='yellow'></div>
            <div class='pink'></div>
            <div class='blue'></div>
            <div class='grey'></div>
        </div>
        <div>
            <ul>
                <li>Everything that Rebirth: Phoenix Edition contained until 1.53, used with permission from TheFlamingRed.</li>
                <li>All code adjustments by Moe, used with permission from Moe.</li>
            </ul>
        </div>
        <div class='banner'>
            <h2 class='banner-text-large'>Rebirth Bug Fixes & Changes</h2>
            <div class='white'></div>
            <div class='yellow'></div>
            <div class='pink'></div>
            <div class='blue'></div>
            <div class='grey'></div>
        </div>
        <div>
            <ul>
                <li>Adapted 1.54 rebranding, and fixed it so that it worked on the additional teams in Phoenix Edition.</li>
                <li>Reduced the volume of rebrands each season.</li>
                <li>Removed double promotions and teams being simply removed or added to a series as this could cause save ending issues.</li>
                <li>Reduced the volume of AI breakthroughs at the start of a new season.</li>
                <li>Disabled spins as they simply didn't work in 1.53, may come back in the future if I merge in the 1.54 code for this.</li>
                <li>Merged Rebirth 1.54 alpha code so the Rebirth teams now have loading screens.</li>
            </ul>
        </div>
        <div class='banner'>
            <h2 class='banner-text-large'>Assets</h2>
            <div class='white'></div>
            <div class='yellow'></div>
            <div class='pink'></div>
            <div class='blue'></div>
            <div class='grey'></div>
        </div>
        <div class='small-banner'>
            <h3 class='banner-text-small'>Personality Traits</h5>
        </div>
        <div>
            <ul>
                <li>Personality Traits has undergone a full re-write from Rebirth.</li>
                <li>Every vanilla trait has been given a full balance pass. Traits are more powerful than vanilla as a result.</li>
                <li>Added numerous custom traits with their own effects.</li>
                <li>Added new 'Special Cases', these are for traits that activate under specific conditions, and traits that use them. Some vanilla traits have been assigned these new Special Cases as well.</li>
            </ul>
        </div>
        <div class='small-banner'>
            <h3 class='banner-text-small'>Part Components</h5>
        </div>
        <div>
            <ul>
                <li>These have had a balance pass. Every vanilla part has been looked at and adjusted.</li>
                <li>Part Components are able to be more powerful than their vanilla counterparts, but the greatest benefits also come with drawbacks.</li>
                <li>With risk not being removed over the off-season, some parts will now add 2 or 3 risk in exchange for large amounts of performance.</li>
                <li>Over 100 new components have been created and added to the pool, resulting in a total of 283 different part components.</li>
            </ul>
        </div>
        <div class='small-banner'>
            <h3 class='banner-text-small'>Parts</h5>
        </div>
        <div>
            <ul>
                <li>All parts have had their base costs rebalanced, as well as the costs of each tier of parts.</li>
                <li>All parts have had their base build time increased.</li>
                <li>Lower tiers within a series (ERS, GTC, IEC-B) are cheaper to compete in than their vanilla counterparts, which creates a more competitive environment as teams are able to produce more parts in a season.</li>
                <li>Higher tiers within a series (APS, WMC, IGTC, IEC-A) are more expensive to compete in putting an emphasis on bank balance, race performance and strategy as you progress, where the ability to keep a more healthy balance sheet is important to progression.</li>
            </ul>
        </div>
        <div class='small-banner'>
            <h3 class='banner-text-small'>Sponsors</h5>
        </div>
        <div>
            <ul>
                <li>Rebalanced existing sponsor offers so the player is no longer obligated to chase 5-star sponsors at all times.</li>
                <li>There is increased overlap between tiers which allows for the loss of a star rating without causing catastrophic financial losses. This especially helps the AI.</li>
                <li>The most lucrative offers are now worth more on a per race basis.</li>
                <li>Added additional race placement sponsors with 3 - 5 star sponsors having an increased range of placement requirements.</li>
                <li>This is then balanced by having a much larger pool of potential offers, with the largest offers being locked to specific slots to prevent them coming up too often.</li>
            </ul>
        </div>
        <div class='small-banner'>
            <h3 class='banner-text-small'>Miscellaneous</h5>
        </div>
        <div>
            <ul>
                <li>Increased the build time for all HQ buildings, and all upgrades, by 70%.</li>
                <li>Dilemmas has been temporarily reverted to the vanilla set as I have removed many of the traits that the Rebirth version used. More will be written in future.</li>
                <li>Regen drivers should now see their peaks in their early 30's at the earliest, and they have a chance to peak for longer before declining.</li>
                <li>Reduced the chances for Safety Cars across all locations except Cape Town.</li>
                <li>Built custom, relatively restricted, rulesets for singleseaters, GT and endurance.</li>
                <li>Single seaters has been fully rebalanced, it is now a relatively high spread series with great emphasis on car performance.</li>
                <li>Endurance has been fully rebalanced with race lengths of 6, 12 and 24 hours, it is a very low spread series to compensate for the extended race lengths.</li>
                <li>Added 30 Dry Weather Tyres rule added for Endurance to facilitate the longer races.</li>
                <li>Rule and code added to force Endurance to have fuel tanks that last roughly one hour.</li>
            </ul>
        </div>
        <div class='banner'>
            <h2 class='banner-text-large'>Assembly</h2>
            <div class='white'></div>
            <div class='yellow'></div>
            <div class='pink'></div>
            <div class='blue'></div>
            <div class='grey'></div>
        </div>
        <div>
            <ul>
                <li>Added the Instant Failures system - this is an expansion of Red's Random Failures and replaces the original part degradation system almost entirely. All parts will now have a chance to fail during the race depending on the part's current reliability. The engine uses a hybrid of both systems, where it takes part wear during the race but at a reduced rate, but is also at risk of instant failure like any other part. The AI are made generally more competitive as a result (because they don't have to stop and repair anywhere near as often) and thus will give more of a challenge.</li>
                <li>Increased the variety of lockup locations on nearly every track. One of the Milan layouts has no natural lockup location so you will still not see any there.</li>
                <li>Part reset performance spread is increased to 200, although with part production time increased, this may become less relevant.</li>
                <li>Decreased livery change cost to £10,000.</li>
                <li>Reduced the range of regen driver base marketability to a maximum of 50%.</li>
                <li>Increased chairman payments for APS and WMC, these are old changes from previous attempts to balance the economy, and may now be redundant.</li>
                <li>With the introduction of the Instant Failures feature, chance to retire rather than have mechanical issues has been changed. Each series now has a bespoke retirement rate for mechanical issues - single seaters has the highest, endurance has the lowest.</li>
                <li>Added new penalty level - 5 second penalty.</li>
                <li>Rewrote the code that awards penalties for more penalty variety - drive-throughs are less common than before with a far higher likelihood of a straight time penalty.</li>
                <li>AI teams will now only get new liveries with layouts that are for their car model. The exception to this rule is season 1, where any of the Rebirth teams can appear in any series, thus may not have a suitable livery assigned. This will correct itself at the start of season 2 when they choose their new livery for the season.</li>
                <li>AI will now use fast pit stops if their current race position is lower than their expected race position.</li>
                <li>Day-Night cycle added for use with endurance races, complete with sky transition.</li>
                <li>Experimental conditions added to the AI checks regarding changing tyres to (hopefully) get them to double and triple stint tyres in Endurance.</li>
                <li>AI will now check to see if any of the available dry weather compounds will get them to the end of the race at the pit stop, resulting in more intelligent choices when this is the case. Otherwise, they will fall back to a random choice with more bias toward a softer compound the higher they are in the current race standings.</li>
                <li>AI will now check to see if any of the available dry weather compounds will get them to the next weather change, resulting in more intelligent choices when this is the case. Otherwise, they will fall back to a random choice with more bias toward a softer compound the higher they are in the current race standings.</li>
            </ul>
        </div>
    </div>
{{>footer}}