{{>header}}
    <div id='page-container'>
        <img id='main-logo' src='/img/ReduxLogo.png' alt='Big mod logo'>
        <div class='banner'>
            <h1 class='banner-text-huge'>Introduction</h1>
            <div class='white'></div>
            <div class='yellow'></div>
            <div class='pink'></div>
            <div class='blue'></div>
            <div class='grey'></div>
        </div>
        <div class='overview-text'>
            <p>Welcome to Rebirth: Redux, a Motorsport Manager mod that builds on the extensive and fantastic work done by TheFlamingRed on the original Balance Mod, which became the Rebirth mod we know and love now.</p>
            <p>Redux is a personal project of mine that started with the aim of tidying up some of the more prominent and annoying bugs that remained in Rebirth 1.53 while TheFlamingRed is on indefinite hiatus from Motorsport Manager modding. It then also included adding new features and balancing things even more to pose a challenge to more seasoned players, or those who just want their zero to hero playthroughs to last longer than 3 or 4 seasons (my current testing playthrough is at a whopping 25 seasons and I'm only an APS midfielder, on a very high difficulty)!</p>
            <p>So far, I have managed to pick off some of the bugs relating to Rebirth: Phoenix Edition, such as those where additional teams would never get rebranded properly, nor did they change livery each season. I have also done some tidying of AI logic when it comes to tyres, extended Endurance racing to take place as 6, 12, or 24 hour racing complete with a 24 hour cycle so longer races go through nighttime phases, and adjusted penalties to be more varied and reduce the prevalence of drive-through penalties, amongst many other changes. You can visit 'Features' for the full list of bug fixes, changes, and new gameplay aspects.</p>
        </div>
        <div class='banner-top-cap'></div>
        <div class='banner'>
            <h2 class='banner-text-large'>Upcoming Features</h1>
            <div class='white'></div>
            <div class='yellow'></div>
            <div class='pink'></div>
            <div class='blue'></div>
            <div class='grey'></div>
        </div>
        <div class='banner-bottom-cap'></div>
        <div class='overview-text'>
            <p>Version 1.5 has marked an important point for Rebirth: Redux, it has stopped merely being a slight expansion on Rebirth 1.53, whereby I am taking on more difficult parts of the game code to address some very long standing balance issues with the vanilla game. The biggest of these is the AI performance on a race weekend.</p>
            <p>The AI have always been extremely weak during races due to their incredibly generalised code (which works for all series with minimal code), which means they very rarely make efficient decisions and will constantly drop time to the player as a result. I have therefore taken this as a challenge to myself to see if I could write more efficient AI logic that was bespoke to the series and tier they were in. In essence, I want them to become formidable opponents where the player needs to use all of their skills and cunning to win.</p>
            <p>Therefore, 1.5 marks the beginning of a series of updates where I attempt to make the AI more efficient, more of a challenge, and (hopefully) more fun to play against. Rebirth: Redux is intended to be a long haul mod, and this is a crucial piece of that puzzle.</p>
            <p>Version 1.5 will have 4 distinct stages:
                <ul>
                    <li>1.5: The initial release of the new AI logic, for Open Wheelers only, along with all other bits and pieces I have worked on in the past million months.</li>
                    <li>1.51: The second release of the new AI logic, which will include Endurance and whatever adjustments Open Wheelers needs.</li>
                    <li>1.52: The third release of the new AI logic, which will be more tidying and hopefully finalisation of this part of the project where Open Wheelers and Endurance are concerned.</li>
                    <li>1.53: A small update with various odds and ends I want to implement before I attack GT, such as variable start times to make maximum use of the day/night cycle.</li>
                </ul>
            <p>Once those are done, I will move onto 1.6, which will <em>finally</em> be the big GT update.</p>
            </p>
        </div>
        <div class='banner-top-cap'></div>
        <div class='banner'>
            <h2 class='banner-text-large'>Credits</h1>
            <div class='white'></div>
            <div class='yellow'></div>
            <div class='pink'></div>
            <div class='blue'></div>
            <div class='grey'></div>
        </div>
        <div class='banner-bottom-cap'></div>
        <div class='overview-text'>
            <p>I would like to credit the following people for making all of this even possible:</p>
            <ul>
                <li>TheFlamingRed: Without his guidance and patience, I would never have been able to create anything like this. He allowed me to move from just creating Personality Traits, to creating my own mod. To him I am forever thankful.</li>
                <li>Moe: Another who without patience and guidance, I would never have been able to get the day/night cycle working properly. His initial AI updates also formed some of the basis for my own AI rewrite.</li>
                <li>Beynasuh: One of my early users and testers when I was first rebalancing Single Seaters for the earliest versions of the original Balance Mod.</li>
                <li>Rob: One of the only people who shows an interest in the Discord these days, but his enthusiasm helps keep me going.</li>
                <li>JayOTT: Did all of the testing required to obtain the timecost figures, which allowed me to properly rebalance all series. Without that work, I would not have been able to adjust my balancing so easily and quickly.</li>
                <li>Countless others who have popped in and out of the Discord, and before that the Race Department forums, over the past 5 years who have shown an interest in or played early versions of my Motorsport Manager mods. All of that has culminated in me pushing myself, in a language I had never experienced before, to create a vanilla based experience that caters to those who wish their careers were that much longer, and made them 'Toto smash' their headphones.</li>
            </ul>
        </div>
        {{!-- <figure id='screenshot'>
            <img id='screenshot-image' src='img/MMNightRacing.jpeg' alt='screenshot from game'>
            <figcaption id='screenshot-caption'>Night Racing at the 12h of Dubai (car models from Enhanced Graphics)</figcaption>
        </figure> --}}
    </div>
{{>footer}}