{{>header}}
    <div id='page-container'>
        <div class='banner'>
            <h1 class='banner-text-huge'>Introduction</h1>
            <div class='white'></div>
            <div class='yellow'></div>
            <div class='pink'></div>
            <div class='blue'></div>
            <div class='grey'></div>
        </div>
        <div id='overview-text'>
            <p>Welcome to Rebirth: Redux, a Motorsport Manager mod that builds on the extensive and fantastic work done by TheFlamingRed on the original Balance Mod, which became the Rebirth mod we know and love now.</p>
            <p>Redux is a personal project of mine that started with the aim of tidying up some of the more prominent and annoying bugs that remained in Rebirth 1.53 while TheFlamingRed is on indefinite hiatus from Motorsport Manager modding. It then also included adding new features and balancing things even more to pose a challenge to more seasoned players, or those who just want their zero to hero playthroughs to last longer than 3 or 4 seasons (my current testing playthrough is at a whopping 25 seasons and I'm only an APS midfielder, on a very high difficulty)!</p>
            <p>So far, I have managed to pick off some of the bugs relating to Rebirth: Phoenix Edition, such as those where additional teams would never get rebranded properly, nor did they change livery each season. I have also done some tidying of AI logic when it comes to tyres, extended Endurance racing to take place as 6, 12, or 24 hour racing complete with a 24 hour cycle so longer races go through nighttime phases, and adjusted penalties to be more varied and reduce the prevalence of drive-through penalties, amongst many other changes. You can visit 'Features' for the full list of bug fixes, changes, and new gameplay aspects.</p>
        </div>
        <div class='banner-top-cap'></div>
        <div class='banner'>
            <h2 class='banner-text-large'>Gallery</h1>
            <div class='white'></div>
            <div class='yellow'></div>
            <div class='pink'></div>
            <div class='blue'></div>
            <div class='grey'></div>
        </div>
        <div class='banner-bottom-cap'></div>
        <figure id='screenshot'>
            <img id='screenshot-image' src='img/MMNightRacing.jpeg' alt='screenshot from game'>
            <figcaption id='screenshot-caption'>Night Racing at the 12h of Dubai (car models from Enhanced Graphics)</figcaption>
        </figure>
    </div>
{{>footer}}