    <div id='footer'>
        <div class='column'>
            <h5 class='column-header'>Useful Modding Tools</h5>
            <ul class='column-list'>
                <li><a class='footer-link' target='_blank' href='https://community.7daystodie.com/topic/1871-unity-assets-bundle-extractor/'>Unity Assets Bundle Extractor (UABE)</a></li>
                <li><a class='footer-link' target='_blank' href='https://github.com/dnSpy/dnSpy'>dnSpy</a></li>
                <li><a class='footer-link' target='_blank' href='https://notepad-plus-plus.org/'>Notepad++</a></li>
            </ul>
        </div>
        <div class='column'>
            <h5 class='column-header'>Other Mods</h5>
            <ul class='column-list'>
                <li><a class='footer-link' target='_blank' href='http://theflamingred.com/blog/'>Rebirth</a></li>
                <li><a class='footer-link' target='_blank' href='https://www.nexusmods.com/motorsportmanager/mods/3'>Enhanced Graphics</a></li>
                <li><a class='footer-link' target='_blank' href='https://www.nexusmods.com/motorsportmanager/mods/1'>Extended Camera</a></li>
            </ul>
        </div>
        <div class='column'>
            <h5 class='column-header'>Motorsport Manager on the Web</h5>
            <ul class='column-list'>
                <li><a class='footer-link' target='_blank' href='https://www.playsportgames.com/'>PlaySport Website</a></li>
                <li><a class='footer-link' target='_blank' href='https://store.steampowered.com/app/415200/Motorsport_Manager/'>Motorsport Manager Steam Page</a></li>
                <li><a class='footer-link' target='_blank' href='https://www.reddit.com/r/MotorsportManagerPC/'>Motorsport Manager on Reddit</a></li>
            </ul>
        </div>
        <div class='column'>
            <h5 class='column-header'>Miscellaneous Links</h5>
            <ul class='column-list'>
                <li><a class='footer-link' target='_blank' href='https://discord.gg/PkSnphxPtj'>TheFlamingRed's Modding Discord</a></li>
                <li><a class='footer-link' target='_blank' href='https://open.spotify.com/playlist/3TptYagXvVzNUDO84ByZuZ?si=pJVPrcPiQ5CsY2eTbN1usA'>My Synthwave Spotify Playlist</a></li>
            </ul>
        </div>

    </div>
</body>
<script src='js/script.js'></script>
</html>