<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rebirth: Redux {{titleSuffix}}</title>
    <link rel='icon' href='/img/favicon.png'>
    <link rel='stylesheet' href='/css/headerStyles.css'>
    <link rel='stylesheet' href='/css/bannerStyles.css'>
    <link rel='stylesheet' href='/css/{{stylesheetNameFragment}}Styles.css'>
    <link rel='stylesheet' href='/css/footerStyles.css'>
</head>
<body>
    <div id='navigation-container'>
        {{!-- <img id='mod-logo' src='' alt='mod logo'> --}}
        <span id='title-one'>Rebirth:</span> <span id='title-two'>Redux</span>
        <nav id='navbar'>
            <a id='home' href='/'>Home</a>
            <a id='features' href='/features'>Features</a>
            <a id='changelogs' href='/changelogs'>Changelogs</a>
            <a id='download' href='/download'>Download</a>
        </nav>
    </div>